In [11]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

In [12]:
# Path to sqlite database file
database_path = "data/FPA_FOD_20170508.sqlite"

In [13]:
# Create Engine
engine = create_engine(f"sqlite:///{database_path}")

In [14]:
engine.table_names()

['ElementaryGeometries',
 'Fires',
 'KNN',
 'NWCG_UnitIDActive_20170109',
 'SpatialIndex',
 'geometry_columns',
 'geometry_columns_auth',
 'geometry_columns_field_infos',
 'geometry_columns_statistics',
 'geometry_columns_time',
 'idx_Fires_Shape',
 'idx_Fires_Shape_node',
 'idx_Fires_Shape_parent',
 'idx_Fires_Shape_rowid',
 'spatial_ref_sys',
 'spatial_ref_sys_aux',
 'spatialite_history',
 'sql_statements_log',
 'sqlite_sequence',
 'views_geometry_columns',
 'views_geometry_columns_auth',
 'views_geometry_columns_field_infos',
 'views_geometry_columns_statistics',
 'virts_geometry_columns',
 'virts_geometry_columns_auth',
 'virts_geometry_columns_field_infos',
 'virts_geometry_columns_statistics']

In [15]:
# Here we need to create a new connection object, which will serve the same purpose as the session
# the main distinction is the Session handles our (the user's) queries, the connection will handle queries from pandas
con = engine.connect()

In [17]:
# Query All Records in the the Database
results_set_df = pd.read_sql("SELECT * FROM Fires Limit 10", con)

In [18]:
results_set_df.columns

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [19]:
results_set_df = pd.read_sql("""SELECT
                             FIRE_YEAR,
                             DISCOVERY_DATE,
                             DISCOVERY_DOY,
                             DISCOVERY_TIME,
                             STAT_CAUSE_DESCR,
                             CONT_DATE,
                             CONT_DOY,
                             LATITUDE,   
                             LONGITUDE,
                             STATE,
                             COUNTY
                             FROM Fires""",  con)

In [20]:
results_set_df

,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,LATITUDE,LONGITUDE,STATE,COUNTY
0,2005,2453403.5,33,1300,Miscellaneous,2453403.5,33.0,40.036944,-121.005833,CA,63
1,2004,2453137.5,133,0845,Lightning,2453137.5,133.0,38.933056,-120.404444,CA,61
2,2004,2453156.5,152,1921,Debris Burning,2453156.5,152.0,38.984167,-120.735556,CA,17
3,2004,2453184.5,180,1600,Lightning,2453189.5,185.0,38.559167,-119.913333,CA,3
4,2004,2453184.5,180,1600,Lightning,2453189.5,185.0,38.559167,-119.933056,CA,3
...,...,...,...,...,...,...,...,...,...,...,...
1880460,2015,2457291.5,269,1726,Missing/Undefined,2457291.5,269.0,40.481637,-122.389375,CA,None
1880461,2015,2457300.5,278,0126,Miscellaneous,NaN,NaN,37.617619,-120.938570,CA,None
1880462,2015,2457144.5,122,2052,Missing/Undefined,NaN,NaN,37.617619,-120.938570,CA,None
1880463,2015,2457309.5,287,2309,Missing/Undefined,NaN,NaN,37.672235,-120.898356,CA,None
1880464,2015,2457095.5,73,2128,Miscellaneous,NaN,NaN,34.263217,-116.830950,CA,None

In [21]:
results_set_df.to_csv("firedata2.csv")